h1 {
color: blue;
}
.headline-img {
    display: flex;
}
.headline-paragraph{
    display: block;
    flex-wrap: wrap;
}
.hero {
    width: 50%;
    height: 50%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    
}
.card {
    width: 30%;
    height: 300px ;
    background-color: aquamarine;
    margin: 5px;
    border-radius: 5px;
    position: relative;
}

.check {
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
}
a {
    text-decoration: none;
}
.card p {
    padding: 0px 2px;
}